* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo-principal {
    font-size: 3vw;
    font-family: 'Cinzel';
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.seccion-actos {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.titulo-secundario {
    font-family: 'Cinzel';
    font-size: 2vw;
    text-align: center;
    margin: 5%;
}

label {
    display: block;
    font-size: 2vw;
    font-family: 'Cinzel';
    text-align: center;
}

.select-registro {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Cinzel';
    font-size: 1.5vw;
}

.tabla-actualizar-actos {
    width: 100%;
    border-collapse: collapse;
}

.tabla-head {
    font-size: 1.5vw;
    font-family: 'Cinzel';
    color: white;
    background-color: #763940;
    padding: 1%;
}

.tabla-head tr th {
    border-style: solid;
    border-color: #20344d;
}

.tabla-cuerpo tr {
    border-bottom: 1px solid #20344d;
}

.id-acto {
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Cinzel';
}

.nombre-acto {
    width: 40%;
    text-align: center;
    word-wrap: break-word;
    font-size: 1.5vw;
    font-family: 'Cinzel';
}

.tabla-cuerpo td button {
    width: 49%;
    font-size: 1vw;
    font-family: 'Cinzel';
    margin-left: auto;
    margin-right: auto;
}

.tabla-cuerpo td button:hover {
    font-weight: bold;
}

dialog {
    width: 30%;
    margin: auto;
    padding: 3%;
    border-radius: 5px;
}

dialog p {
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Cinzel';
}

dialog button {
    display: block;
    width: 70%;
    padding: 1%;
    font-family: 'Cinzel';
    font-size: 1.5vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.seccion-modificar-acto {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.form-modificar-acto {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 5px;
    border-color: gray;
}

.form-modificar-acto label {
    display: block;
    font-size: 2vw;
    font-family: 'Cinzel';
    text-align: center;
}

.form-modificar-acto input {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1%;
    font-size: 1.5vw;
}

.tributo-unico input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 60%;
    font-size: 1.5vw;
    padding: 1%;
}

.timbre-multiple-titulo {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.timbre-multiple-titulo input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.timbre-multiple-titulo p {
    width: 48%;
    display: inline-block;
    text-align: center;
    font-family: 'Cinzel';
    font-size: 1.5vw;
}

.timbre-multiple {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.timbre-multiple div input {
    width: 48%;
    padding: 3%;
    display: inline-block;
    margin-bottom: 1%;
    font-size: 1.5vw;
}

.form-modificar-acto input[type='submit'] {
    font-family: 'Cinzel';
}

.form-modificar-acto input[type='submit']:hover {
    font-weight: bold;
}

@media screen and (max-width: 960px) {
    .titulo-principal {
        font-size: 6vw;
        margin-top: 4%;
        margin-bottom: 4%;
    }

    .seccion-actos {
        width: 60%;
    }

    .titulo-secundario {
        font-size: 4vw;
        margin: 7.5%;
    }

    label {
        font-size: 4vw;
    }

    .select-registro {
        width: 80%;
        font-size: 3vw;
    }

    .tabla-head {
        font-size: 3vw;
        padding: 2%;
    }

    .id-acto {
        font-size: 3vw;
    }

    .nombre-acto {
        font-size: 3vw;
    }

    .tabla-cuerpo td button {
        width: 100%;
        font-size: 2vw;
        padding: 4%;
    }

    dialog {
        width: 60%;
        padding: 6%;
    }

    dialog p {
        font-size: 3vw;
    }

    dialog button {
        width: 80%;
        padding: 2%;
        font-size: 3vw;
        margin-top: 7.5%;
        margin-bottom: 7.5%;
    }

    .seccion-modificar-acto {
        width: 60%;
    }

    .form-modificar-acto {
        margin-bottom: 7.5%;
    }

    .form-modificar-acto label {
        font-size: 4vw;
    }

    .form-modificar-acto input {
        width: 80%;
        margin-top: 7.5%;
        margin-bottom: 7.5%;
        padding: 2%;
        font-size: 3vw;
    }

    .tributo-unico input {
        margin-top: 2%;
        margin-bottom: 2%;
        width: 80%;
        font-size: 3vw;
    }

    .timbre-multiple-titulo {
        width: 80%;
    }

    .timbre-multiple-titulo p {
        width: 48%;
        font-size: 3vw;
    }

    .timbre-multiple {
        width: 80%;
    }

    .timbre-multiple div input {
        width: 48%;
        padding: 2%;
        margin-bottom: 2%;
        font-size: 3vw;
    }
}

@media screen and (max-width: 500px) {
    .titulo-principal {
        font-size: 9vw;
        margin-top: 6%;
        margin-bottom: 6%;
    }

    .seccion-actos {
        width: 90%;
    }

    .titulo-secundario {
        font-size: 6vw;
        margin: 10%;
    }

    label {
        font-size: 6vw;
    }

    .select-registro {
        width: 90%;
        font-size: 4.5vw;
    }

    .tabla-head {
        font-size: 4.5vw;
        padding: 3%;
    }

    .id-acto {
        font-size: 4.5vw;
    }

    .nombre-acto {
        font-size: 4.5vw;
    }

    .tabla-cuerpo td button {
        width: 100%;
        font-size: 3vw;
        padding: 6%;
    }

    dialog {
        width: 90%;
        padding: 9%;
    }

    dialog p {
        font-size: 4.5vw;
    }

    dialog button {
        width: 90%;
        padding: 3%;
        font-size: 4.5vw;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .seccion-modificar-acto {
        width: 90%;
    }

    .form-modificar-acto {
        margin-bottom: 10%;
    }

    .form-modificar-acto label {
        font-size: 6vw;
    }

    .form-modificar-acto input {
        width: 90%;
        margin-top: 10%;
        margin-bottom: 10%;
        padding: 3%;
        font-size: 4.5vw;
    }

    .tributo-unico input {
        margin-top: 3%;
        margin-bottom: 3%;
        width: 90%;
        font-size: 4.5vw;
    }

    .timbre-multiple-titulo {
        width: 90%;
    }

    .timbre-multiple-titulo p {
        width: 48%;
        font-size: 4.5vw;
    }

    .timbre-multiple {
        width: 90%;
    }

    .timbre-multiple div input {
        width: 48%;
        padding: 3%;
        margin-bottom: 3%;
        font-size: 4.5vw;
    }
}