* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo-principal {
    font-size: 3vw;
    font-family: 'Cinzel';
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.titulo-secundario {
    font-family: 'Cinzel';
    font-size: 2vw;
    text-align: center;
    margin: 5%;
}

.seccion-tabla-registros {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.tabla-registros {
    width: 100%;
    border-collapse: collapse;
}

.tabla-head {
    font-size: 1.5vw;
    font-family: 'Cinzel';
    color: white;
    background-color: #763940;
    padding: 1%;

}

.tabla-head tr th {
    border-style: solid;
    border-color: #20344d;
}

.tabla-cuerpo tr {
    border-bottom: 1px solid #20344d;
}

.tabla-id-registro {
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Cinzel';
}

.tabla-nombre-registro {
    width: 40%;
    text-align: center;
    word-wrap: break-word;
    font-size: 1.5vw;
    font-family: 'Cinzel';
}

.tabla-cuerpo td button {
    width: 49%;
    font-size: 1vw;
    font-family: 'Cinzel';
    margin-left: auto;
    margin-right: auto;
}

.tabla-cuerpo td button:hover {
    font-weight: bold;
}

dialog {
    width: 30%;
    margin: auto;
    padding: 3%;
    border-radius: 5px;
}

dialog p {
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Cinzel';
}

dialog button {
    display: block;
    width: 70%;
    padding: 1%;
    font-family: 'Cinzel';
    font-size: 1.5vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.dialog:hover {
    font-weight: bold;
}

.seccion-actualizar-registro {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.form-actualizar-registro {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 5px;
    border-color: gray;
}

.form-actualizar-registro input {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1%;
    font-size: 1.5vw;
}

.form-actualizar-registro label {
    display: block;
    font-size: 2vw;
    font-family: 'Cinzel';
    text-align: center;
}

.form-actualizar-registro input[type="submit"] {
    font-family: 'Cinzel';
}

.form-modificar-acto input[type='submit']:hover {
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    .titulo-principal {
        font-size: 6vw;
        margin-top: 4%;
        margin-bottom: 4%;
    }

    .titulo-secundario {
        font-size: 4vw;
        margin: 7.5%;
    }

    .seccion-tabla-registros {
        width: 60%;
    }

    .tabla-head {
        font-size: 3vw;
        padding: 2%;
    }

    .tabla-id-registro {
        font-size: 3vw;
    }

    .tabla-nombre-registro {
        font-size: 3vw;
    }

    .tabla-cuerpo td button {
        width: 100%;
        font-size: 2vw;
        padding: 4%;
    }

    dialog {
        width: 60%;
        padding: 6%;
    }

    dialog p {
        font-size: 3vw;
    }

    dialog button {
        width: 80%;
        padding: 2%;
        font-size: 3vw;
        margin-top: 7.5%;
        margin-bottom: 7.5%;
    }

    .seccion-actualizar-registro {
        width: 60%;
    }

    .form-actualizar-registro input {
        width: 60%;
        margin-top: 7.5%;
        margin-bottom: 7.5%;
        padding: 2%;
        font-size: 3vw;
    }

    .form-actualizar-registro label {
        font-size: 4vw;
    }
}

@media screen and (max-width: 500px) {
    .titulo-principal {
        font-size: 9vw;
        margin-top: 6%;
        margin-bottom: 6%;
    }

    .titulo-secundario {
        font-size: 6vw;
        margin: 10%;
    }

    .seccion-tabla-registros {
        width: 90%;
    }

    .tabla-head {
        font-size: 4.5vw;
        padding: 3%;
    }

    .tabla-id-registro {
        font-size: 4.5vw;
    }

    .tabla-nombre-registro {
        font-size: 4.5vw;
    }

    .tabla-cuerpo td button {
        width: 100%;
        font-size: 3vw;
        font-family: 'Cinzel';
        padding: 6%;
    }

    dialog {
        width: 90%;
        padding: 9%;
    }

    dialog p {
        font-size: 4.5vw;
    }

    dialog button {
        width: 90%;
        padding: 3%;
        font-size: 4.5vw;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .seccion-actualizar-registro {
        width: 90%;
    }

    .form-actualizar-registro input {
        width: 90%;
        margin-top: 10%;
        margin-bottom: 10%;
        padding: 3%;
        font-size: 4.5vw;
    }

    .form-actualizar-registro label {
        font-size: 6vw;
    }
}