* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo-principal {
    font-size: 3vw;
    font-family: 'Cinzel';
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.titulo-secundario {
    font-size: 2vw;
    font-family: 'Cinzel';
    text-align: center;
    margin: 5%;
}

.seccion-crear-usuario {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.form-nuevo-usuario {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 5px;
    border-color: gray;
}

.form-nuevo-usuario input {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1%;
    font-size: 1.5vw;
}

.form-nuevo-usuario-titulo {
    display: block;
    font-size: 2vw;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
}

.tareas-usuario {
    width: 100%;
}

.form-nuevo-usuario label {
    display: block;
    font-size: 2vw;
    text-align: center;
}

.form-nuevo-usuario input[type='submit'] {
    font-size: 1.5vw;
    margin-bottom: 3%;
}

.form-nuevo-usuario input[type='submit']:hover {
    font-weight: bold;
}

.seccion-administrar-usuarios {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.tabla-administrar-usuarios {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5%;
}

.tabla-head {
    font-size: 1.5vw;
    color: white;
    background-color: #763940;
    padding: 1%;
}

.tabla-head tr th {
    border-style: solid;
    border-color: #20344d;
}

.tabla-cuerpo tr {
    border-bottom: 1px solid #20344d;
}

.id-usuario {
    text-align: center;
    font-size: 1.5vw;
}

.correo-usuario {
    width: 40%;
    text-align: center;
    word-break: break-all;
    font-size: 1.5vw;
}

.tabla-cuerpo td button {
    width: 49%;
    font-size: 1vw;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.tabla-cuerpo td button:hover {
    font-weight: bold;
}


.seccion-actualizar-usuario {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.form-actualizar-usuario {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 5px;
    border-color: gray;
}

.form-actualizar-usuario input {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1%;
    font-size: 1.5vw;
}

.form-actualizar-usuario label {
    display: block;
    font-size: 2vw;
    text-align: center;
}

.form-actualizar-usuario select {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5vw;
}

.form-actualizar-usuario input[type='submit'] {
    font-size: 1.5vw;
    margin-bottom: 3%;
}

.form-actualizar-usuario input[type='submit']:hover {
    font-weight: bold;
}

dialog {
    width: 30%;
    margin: auto;
    padding: 3%;
    border-radius: 5px;
}

dialog p {
    text-align: center;
    font-size: 1.5vw;
}

dialog button {
    display: block;
    width: 70%;
    padding: 1%;
    font-size: 1.5vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

dialog button:hover {
    font-weight: bold;
}

@media only screen and (max-width: 960px) {
    .titulo-principal {
        font-size: 6vw;
        margin-top: 4%;
        margin-bottom: 4%;
    }

    .titulo-secundario {
        font-size: 4vw;
        margin: 7.5%;
    }

    .seccion-crear-usuario {
        width: 60%;
    }

    .form-nuevo-usuario input {
        width: 80%;
        margin-top: 7.5%;
        margin-bottom: 7.5%;
        padding: 2%;
        font-size: 3vw;
    }

    .form-nuevo-usuario-titulo {
        font-size: 4vw;
        margin-top: 6%;
        margin-bottom: 4%;
    }

    .form-nuevo-usuario label {
        font-size: 4vw;
    }

    .form-nuevo-usuario input[type='submit'] {
        font-size: 3vw;
        margin-bottom: 6%;
    }

    .seccion-administrar-usuarios {
        width: 60%;
    }

    .tabla-head {
        font-size: 3vw;
        padding: 2%;
    }

    .id-usuario {
        font-size: 3vw;
    }

    .correo-usuario {
        font-size: 3vw;
    }

    .tabla-cuerpo td button {
        width: 100%;
        font-size: 3vw;
        padding: 4%;
    }

    .seccion-actualizar-usuario {
        width: 60%;
    }

    .form-actualizar-usuario input {
        width: 80%;
        margin-top: 7.5%;
        margin-bottom: 7.5%;
        padding: 2%;
        font-size: 3vw;
    }

    .form-actualizar-usuario label {
        font-size: 4vw;
    }

    .form-actualizar-usuario select {
        width: 80%;
        font-size: 3vw;
    }

    .form-actualizar-usuario input[type='submit'] {
        font-size: 3vw;
        margin-bottom: 6%;
    }

    dialog {
        width: 60%;
        padding: 6%;
    }

    dialog p {
        font-size: 3vw;
    }

    dialog button {
        width: 80%;
        padding: 2%;
        font-size: 3vw;
        margin-top: 7.5%;
        margin-bottom: 7.5%;
    }
}

@media only screen and (max-width: 500px) {
    .titulo-principal {
        font-size: 9vw;
        margin-top: 6%;
        margin-bottom: 6%;
    }

    .titulo-secundario {
        font-size: 6vw;
        margin: 10%;
    }

    .seccion-crear-usuario {
        width: 90%;
    }

    .form-nuevo-usuario input {
        width: 90%;
        margin-top: 10%;
        margin-bottom: 10%;
        padding: 3%;
        font-size: 4.5vw;
    }

    .form-nuevo-usuario-titulo {
        font-size: 6vw;
        margin-top: 9%;
        margin-bottom: 6%;
    }

    .form-nuevo-usuario label {
        font-size: 6vw;
    }

    .form-nuevo-usuario input[type='submit'] {
        font-size: 4.5vw;
        margin-bottom: 9%;
    }

    .seccion-administrar-usuarios {
        width: 90%;
    }

    .tabla-head {
        font-size: 4.5vw;
        padding: 3%;
    }

    .id-usuario {
        font-size: 4.5vw;
    }

    .correo-usuario {
        font-size: 4.5vw;
    }   

    .tabla-cuerpo td button {
        width: 100%;
        font-size: 3vw;
        padding: 6%;
    }

    .seccion-actualizar-usuario {
        width: 90%;
    }

    .form-actualizar-usuario input {
        width: 90%;
        margin-top: 10%;
        margin-bottom: 10%;
        padding: 3%;
        font-size: 4.5vw;
    }

    .form-actualizar-usuario label {
        font-size: 6vw;
    }

    .form-actualizar-usuario select {
        width: 90%;
        font-size: 4.5vw;
    }

    .form-actualizar-usuario input[type='submit'] {
        font-size: 4.5vw;
        margin-bottom: 9%;
    }

    dialog {
        width: 90%;
        padding: 9%;
    }

    dialog p {
        font-size: 4.5vw;
    }

    dialog button {
        width: 90%;
        padding: 3%;
        font-size: 4.5vw;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}