* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo-principal {
    font-size: 3vw;
    font-family: 'Cinzel';
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.seccion-menu-calculos {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.enlaces-administrar-calculos {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: grey;
    border-radius: 5px;
}

.enlaces-administrar-calculos a {
    margin: 5%;
}

.enlaces-administrar-calculos a button {
    font-size: 1.5vw;
    width: 100%;
    padding: 1%;
}

.enlaces-administrar-calculos a button:hover {
    font-weight: bolder;
}

@media screen and (max-width: 960px) {
    .titulo-principal {
        font-size: 6vw;
        margin-top: 4%;
        margin-bottom: 4%;
    }

    .seccion-menu-calculos {
        width: 60%;
    }

    .enlaces-administrar-calculos {
        grid-template-columns: 100%;
    }

    .enlaces-administrar-calculos a {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .enlaces-administrar-calculos a button {
        font-size: 3vw;
        padding: 2%;
    }

}

@media screen and (max-width: 500px) {
    .titulo-principal {
        font-size: 9vw;
        margin-top: 6%;
        margin-bottom: 6%;
    }

    .seccion-menu-calculos {
        width: 90%;
    }

    .enlaces-administrar-calculos {
        grid-template-columns: 100%;
    }

    .enlaces-administrar-calculos a {
        margin-top: 7.5%;
        margin-bottom: 7.5%;
    }

    .enlaces-administrar-calculos a button {
        font-size: 4.5vw;
        padding: 3%;
    }
}