main {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

h1 {
    font-family: 'Cinzel';
    font-size: 2vw;
    text-align: center;
    margin-bottom: 10%;
}

form label {
    font-family: 'Cinzel';
    font-size: 1.8vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

form input {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 3%;
    box-sizing: border-box;
    font-size: 1.2vw;
}

form input[type='submit'] {
    font-family: 'Cinzel';
}

dialog {
    width: 25%;
    margin: auto;
    padding: 3%;
    border-radius: 5px;
}

dialog p {
    text-align: center;
    font-size: larger;
    font-family: 'Cinzel';
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

dialog button {
    display: block;
    width: 60%;
    padding: 3%;
    font-family: 'Cinzel';
    font-weight: bold;
    margin: 3%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1000px) {
    main {
        width: 70%;
        margin-top: 10%;
    }

    h1 {
        font-size: 3vw;
        margin-bottom: 15%;
    }

    form label {
        font-size: 3vw;
    }

    form input {
        font-size: 3vw;
        padding: 2%;
    }

    dialog {
        width: 50%;
    }

    dialog p {
        padding: 5%;
        font-size: 3.5vw;
    }

    dialog button {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    main {
        width: 90%;
        margin-top: 15%;
    }

    h1 {
        font-size: 7vw;
        margin-bottom: 20%;
    }

    form input {
        width: 90%;
        font-size: 5vw;
        padding: 5%;
    }

    form label {
        font-size: 5vw;
    }

    dialog {
        width: 80%;
    }

    dialog p {
        padding: 5%;
        font-size: 5vw;
    }

    dialog button {
        width: 80%;
    }
}