* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


li {
    list-style-type: none;
    background: #e7e6e6 ;
    padding: 5px;
    margin-top: 2%;
    margin-left: 35px;
    margin-right: 30%;


}

#btnCrearCaso {
    margin-top: 1.5%;
    margin-right: 1%;
}

#buscarCasos {
    margin-top: 1.5%;
    margin-right: 1%;
    align-items: center;
}

.buscarCasos {
    margin-top: 1.5%;
    margin-right: 1%;
    text-align: center;
}
