* {
    margin: 0;
    padding: 0;
    font-family: 'Cinzel';
}

header nav {
    background-color: #20344d;
}

header nav img {
    width: 3%;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px;
}

#enlaces {
    margin-top: 1.5%;
    margin-right: 1%;
    float: right
}

li {
    list-style-type: none;
    border: 2px #20344d;
    margin-top: 2%;
    padding: 1%;

}

#btnCrearCliente {
    margin-top: 1.5%;
    margin-right: 1%;
    float: right;
}

#buscarCliente {
    margin-top: 1.5%;
    margin-right: 1%;
    align-items: center;
}

.buscarCliente {
    margin-top: 1.5%;
    margin-right: 1%;
    text-align: center;
}
