* {
    font-size: 1.5vw;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.titulo-principal {
    font-size: 3vw;
    font-family: 'Cinzel';
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.buscarCliente input[type='text'] {
    padding: 0.5%;
    width: 20%;
}

.buscarCliente input[type='submit'] {
    padding: 0.5%;
    width: 7%;
}

#boton-crear {
    margin-top: 1%;
    padding: 0.5%;
    width: 27%;
}

.main-clientes {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.boton {
    padding: 1%;
    width: 40%;
}

.boton:hover {
    font-weight: bold;
}

li {
    list-style-type: none;
    background: #e7e6e6;
    padding: 1%;
    margin-top: 2%;
    margin-left: 2%;
    text-align: left;
    display: inline-block;
    width: 30%;
}

.seccion-actualizar-cliente {
    align-items: center;
    text-align: center;
}

#form-actualizar-cliente {
    margin-left: auto;
    margin-right: auto;
}

.seccion-actualizar-cliente select {
    margin-top: 2%;
    margin-bottom: 1%;
    width: 30%;
    padding: 1%;
}

.seccion-actualizar-cliente input {
    margin-top: 2%;
    margin-bottom: 1%;
    width: 30%;
    padding: 1%;
}


dialog {
    width: 30%;
    margin: auto;
    padding: 3%;
    border-radius: 5px;
}

dialog p {
    text-align: center;
    font-size: 1.5vw;
}

dialog button {
    display: block;
    width: 70%;
    padding: 1%;
    font-size: 1.5vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

dialog button:hover {
    font-weight: bold;
}


@media only screen and (max-width: 960px) {
    * {
        font-size: 3vw;
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .titulo-principal {
        font-size: 6vw;
        margin-top: 4%;
        margin-bottom: 2%;
        width: 100%;
    }

    .buscarCliente input[type='text'] {
        padding: 1%;
        width: 60%;
    }

    .buscarCliente input[type='submit'] {
        padding: 1%;
        width: 17%;
    }

    #boton-crear {
        margin-top: 1%;
        padding: 0.5%;
        width: 77%;
    }

    .boton {
        padding: 1%;
        width: 40%;
    }

    li {
        list-style-type: none;
        background: #e7e6e6;
        padding: 1%;
        margin-top: 2%;
        margin-left: 2%;
        text-align: left;
        display: inline-block;
        width: 60%;
    }

    .seccion-actualizar-cliente {
        align-items: center;
        text-align: center;
    }
    
    .seccion-actualizar-cliente {
        align-items: center;
        text-align: center;
    }
    
    #form-actualizar-cliente {
        margin-left: auto;
        margin-right: auto;
    }

    .seccion-actualizar-cliente select {
        margin-top: 4%;
        width: 50%;
        padding: 2%;
    }

    .seccion-actualizar-cliente input {
        margin-top: 4%;
        width: 50%;
        padding: 2%;
    }


    dialog {
        width: 60%;
        padding: 6%;
    }

    dialog p {
        font-size: 3vw;
    }

    dialog button {
        width: 80%;
        padding: 2%;
        font-size: 3vw;
        margin-top: 7.5%;
        margin-bottom: 7.5%;
    }
}

@media only screen and (max-width: 500px) {
    * {
        font-size: 6vw;
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .titulo-principal {
        font-size: 8vw;
        margin-top: 4%;
        margin-bottom: 2%;
    }

    .buscarCliente input[type='text'] {
        padding: 0.5%;
        width: 50%;
    }
    
    .buscarCliente input[type='submit'] {
        padding: 0.5%;
        width: 25%;
    }
    
    #boton-crear {
        margin-top: 1%;
        padding: 0.5%;
        width: 75%;
    }    

    .boton {
        padding: 1%;
        margin-bottom: 2%;
        width: 50%;
    }

    li {
        list-style-type: none;
        background: #e7e6e6;
        padding: 1%;
        margin-top: 2%;
        margin-left: 2%;
        text-align: left;
        display: inline-block;
        width: 75%;
    }
    
    .seccion-actualizar-cliente {
        align-items: center;
        text-align: center;
    }
    
    #form-actualizar-cliente {
        margin-left: auto;
        margin-right: auto;
    }

    .seccion-actualizar-cliente select {
        margin-top: 4%;
        width: 80%;
        padding: 2%;
    }

    .seccion-actualizar-cliente input {
        margin-top: 4%;
        width: 80%;
        padding: 2%;
    }

    dialog {
        width: 90%;
        padding: 9%;
    }

    dialog p {
        font-size: 4.5vw;
    }

    dialog button {
        width: 90%;
        padding: 3%;
        font-size: 4.5vw;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}