* {
    margin: 0;
    padding: 0;
}

nav {
    max-height: 6%;
    background-color: #20344d;
}

nav img {
    width: 3%;
    margin-top: 0.3%;
    margin-left: 0.3%;
    border-radius: 5px;
}

main {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 2vw;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 5%;
    font-family: 'Cinzel';
}

form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 5px;
    border-color: gray;
}

form input {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 3%;
    box-sizing: border-box;
    font-size: 1vw;
}

form input[type='submit'] {
    font-family: 'Cinzel';
}

main a {
    display: block;
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Cinzel';
}

@media screen and (max-width: 1080px) {

    nav img {
        width: 7%;
    }

    form input {
        font-size: 3vw;
    }

    h1 {
        font-size: 6vw;
    }

    main {
        width: 70%;
    }

    main a {
        font-size: 3vw;
    }

    form {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

    nav img {
        width: 10%;
    }

    form input {
        font-size: 4vw;
    }

    h1 {
        font-size: 8vw;
    }

    main {
        width: 80%;
    }

    main a {
        font-size: 5vw;
    }

    form {
        width: 100%;
    }
}