* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo-principal {
    font-size: 3vw;
    font-family: 'Cinzel';
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.seccion-restablecer-contrasena {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.form-restablecer-contrasena {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 5px;
    border-color: gray;
}

.form-restablecer-contrasena input {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1%;
    font-size: 1.5vw;
}

.form-restablecer-contrasena input[type='submit'] {
    font-family: 'Cinzel';
}

.form-restablecer-contrasena input[type='submit']:hover {
    font-weight: bold;
}

dialog {
    width: 30%;
    margin: auto;
    padding: 3%;
    border-radius: 5px;
}

dialog p {
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Cinzel';
}

dialog button {
    display: block;
    width: 70%;
    padding: 1%;
    font-family: 'Cinzel';
    font-size: 1.5vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

@media only screen and (max-width: 960px) {
    .titulo-principal {
        font-size: 6vw;
        margin-top: 4%;
        margin-bottom: 4%;
    }

    .seccion-restablecer-contrasena {
        width: 60%;
    }

    .form-restablecer-contrasena input {
        width: 80%;
        margin-top: 10%;
        margin-bottom: 10%;
        padding: 2%;
        font-size: 3vw;
    }

    dialog {
        width: 60%;
        padding: 6%;
    }

    dialog p {
        font-size: 3vw;
    }

    dialog button {
        width: 80%;
        padding: 2%;
        font-size: 3vw;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

@media only screen and (max-width: 500px) {
    .titulo-principal {
        font-size: 9vw;
        margin-top: 6%;
        margin-bottom: 6%;
    }

    .seccion-restablecer-contrasena {
        width: 90%;
    }

    .form-restablecer-contrasena input {
        width: 90%;
        margin-top: 15%;
        margin-bottom: 15%;
        padding: 3%;
        font-size: 4.5vw;
    }

    dialog {
        width: 90%;
        padding: 9%;
    }

    dialog p {
        font-size: 4.5vw;
    }

    dialog button {
        width: 90%;
        padding: 3%;
        font-size: 4.5vw;
        margin-top: 15%;
        margin-bottom: 15%;
    }
}